<div class="form-group">
    <label class="col-sm-2 control-label">{{ field.name }}</label>
    <div class="col-sm-10">
        <select class="form-control" name="{{ field.name }}">
            {% for id, value in field.choices %}
                <option value="{{ id }}" {% if field.value == id %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>